@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 my-5">Bem vindo</h1>
    <p class="mt-3 display-6">A vida começa quando se percebe que amanha, pode-se está mais rico que hoje</p>
    <a href="https://www.linkedin.com/in/leandro-de-jesus-santos-311658223/">Um dia da bom, um passo de cada vez</a>
</div>
