@model PrefeituraModel

@{
    ViewData["title"] = "Editar Prefeitura";
}

<h2 class="text-center my-4 display-3">Edição de Prefeitura</h2>


<form asp-controller="Prefeitura" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group mt-2">
        <label for="Municipio">Município</label>
        <input type="text" class="form-control" asp-for="Municipio" placeholder="Digíte o Município">
    </div>
    <div class="form-group mt-2">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="NomeRH" placeholder="Digíte o Nome">
    </div>
    <div class="form-group mt-2">
        <label for="Email">E-mail</label>
        <input type="text" class="form-control" asp-for="EmailRH" placeholder="Digíte o E-mail">
    </div>
    <div class="form-group mt-2">
        <label for="Telefone">Telefone</label>
        <input type="text" class="form-control" asp-for="TelefoneRH" placeholder="Digíte o Telefone">
    </div>
    <button type="submit" class="btn btn-success mt-2 w-100">Alterar</button>
    <a role="button" class="btn btn-primary mt-2 w-100" asp-controller="Prefeitura" asp-action="Index">Voltar</a>
</form>