@model UsuarioModel

@{
    ViewData["title"] = "Excluir Usuário";
}

<h2 class="text-center my-4 display-3">Realmente deseja excluir o usuário: (@Model.Nome)?</h2>


<a role="button" class="btn btn-danger my-3 w-100" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Excluir">Excluir</a>
<a role="button" class="btn btn-primary w-100" asp-controller="Usuario" asp-action="Index">Voltar</a>
